language: erlang
otp_release:
  - 17.0-rc1
  - R16B03-1
  - R16B03
  - R16B02
  - R16B01
  - R16B
  - R15B03
  - R15B02
  - R15B01
  - R15B
  - R14B04
  - R14B03
  - R14B02
script: "rm -rf deps ebin test/*.beam logs && ./rebar get-deps compile && ./rebar ct"
branches:
  only:
    - master
notifications:
  email:
    - mononcqc@ferd.ca
