{alias, [
  {check, [ct, dialyzer]}
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all, {d, 'TEST'}]}
    ]}
]}.

{edoc_opts, [
    {preprocess, true}
]}.

{pre_hooks, [
    {edoc, "cp src_doc/overview.edoc doc/"}
]}.


{project_plugins, [rebar3_ex_doc]}.

{ex_doc, [
    {extras, [
          {"src_doc/overview.md", #{title => "Overview"}},
          {"CHANGELOG.md", #{title => "Changelog"}},
          {"LICENSE", #{title => "License"}}
    ]},
    {main, "overview.md"},
    {homepage_url, "https://ferd.github.io/recon/"},
    {source_url, "https://github.com/ferd/recon"}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.
